@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7em;
  font-weight: 600;
  height: 100vh;
  background: #4ecdc4;
  background: linear-gradient(to right, #556270, #4ecdc4);
  background: -webkit-linear-gradient(to right, #556270, #4ecdc4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  overflow: hidden;
  padding: 3rem;
  box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.5);
}
.container h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  text-align: center;
}
.container h2,
p {
  font-size: 1.1rem;
}
.container h2 {
  margin-top: .5rem;
}
.container label {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 0.7rem;
}
.container input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 1rem 0;
}
.container p {
  margin-top: 1rem;
  text-align: center;
}
.alignment {
  text-align: center;
  margin-top: 2rem;
}
.container button {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 4rem;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
}
.container button:hover {
  transform: translateY(1px);
}
.container button:hover {
  transform: translateY(2px);
}
